{% extends 'app_football/index.html' %}


{% block content %}
<div class="container">
<h2 class="sub-header">Cookies</h2>

<p>To make this site work properly, we sometimes place small data files called cookies on your device.</p>
<p>Most big websites do this too.</p>
<div class="row" style="margin-left: 0;">


    <div class="column-left-two" style="width: 100%; max-width: 100%; padding-right: 20px; border-right: 1px solid white;">

            <h3>What are cookies?</h3>

            <p>A cookie is a small text file that a website saves on your computer or mobile device when you visit the site.
                It enables the website to remember your actions and preferences (such as login, language,
                font size and other display preferences) over a period of time, so you don’t have to keep re-entering
                them whenever you come back to the site or browse from one page to another.</p>

            <h3>How to control cookies</h3>

            <p>You can control and/or delete cookies as you wish – for details, see <a href="aboutcookies.org">aboutcookies.org</a>.
                You can delete all cookies that are already on your computer and you can set most browsers to prevent them
                from being placed. If you do this, however, you may have to manually adjust some preferences every time you
                visit a site and some services and functionalities may not work.</p>
        </div>

    <div class="column-right-two" style="width: 100%; max-width: 100%; padding-top: 3px">


            <h3>How do we use cookies?</h3>

            <p>A our page use cookies to remember:</p>

            <p>- your display preferences, such as contrast colour settings or font size</p>
            <p>- if you have agreed (or not) to our use of cookies on this site</p>
            <p>- if you are already registered user</p>



            <p>Enabling these cookies is not strictly necessary for the website to work but it will provide you with a better
                browsing experience. You can delete or block these cookies, but if you do that some features
                of this site may not work as intended.</p>

            <p>The cookie-related information is not used to identify you personally and the pattern data is fully under our control.
                These cookies are not used for any purpose other than those described here.</p>
        </div>

    </div>
</div>
{% endblock %}