{% extends 'app_football/index.html' %}

{% block content %}

{% load static %}

	<h1>Team Creator!</h1>
	<p>Name your team whatever you want!</p>
    <form class="team-form" action='' method='POST'>
		{% csrf_token %}
		{{ form }}
		<button class="btn submit" type='submit'>Create</button>
	</form>

	<div class="loader hidden" style="position: fixed; left: 35%; top: 15%;">
		<h2>CREATING TEAMS AND SCHEDULE</h2>
		<h3>It might take a while</h3>
	</div>

	<img class="loader hidden" src="{% static 'launcher-loader.gif' %}" style="position: fixed; left: 45%; top: 40%; height: 150px; width: 150px;">

{% endblock %}