{% extends 'app_football/index.html' %}

{% block content %}

{% load static %}

<div class="container login">

	<h2>Team Creator</h2>
	<div class="login-form">
		<p>Name your team whatever you want</p>
		<div class="form-group">
			<form id="team-form" action='' method='POST'>
				{% csrf_token %}
				{{ form }}
				<button id="submit" class="btn button fregister" type='submit'>Create</button>
			</form>
		</div>

		<img id="loader-sign" class="hidden" src="{% static 'launcher-loader.gif' %}">
		<div id="loader-info" class="hidden">
			<h3>CREATING TEAMS AND SCHEDULE</h3>
			<p>It might take a while</p>
		</div>
	</div>
</div>
<script type="text/javascript" src="{% static '../../static/js/loading.js' %}"></script>
{% endblock %}