{% extends 'app_football/team.html' %}

{% block team %}
<div class="row">
    <div class="column-left-two">
        <div class="container">
            <h2 class="sub-header sub2">HOME TEAM</h2>
            <h3 class="sub-header sub2">{{ home.name }}</h3>

            <table class="table table2">
                <thead>
                <tr><th>Name</th><th>Position</th><th>Attack</th><th>Defence</th></tr>
                </thead>
                <tbody class="table-body">
                {% for player in home_players %}
                    <tr>
                        <td>{{ player.full_name }}</td>
                        <td>{{ player.get_position_display }}</td>
                        <td>{{ player.attack }}</td>
                        <td>{{ player.defence }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="column-right-two">
        <div class="container">
            <h2 class="sub-header sub2">AWAY TEAM</h2>
            <h3 class="sub-header sub2">{{ away.name }}</h3>

            <table class="table table2">
                <thead>
                <tr><th>Name</th><th>Position</th><th>Attack</th><th>Defence</th></tr>
                </thead>
                <tbody class="table-body">
                {% for player in away_players %}
                    <tr>
                        <td>{{ player.full_name }}</td>
                        <td>{{ player.get_position_display }}</td>
                        <td>{{ player.attack }}</td>
                        <td>{{ player.defence }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<form action="" method="POST">
        {% csrf_token %}
<input id="train" class="train-team btn button" style="margin-left: 1280px" type="submit" value="LET'S PLAY">
</form>
{% endblock %}