<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
    <body>

    <h1>Welcome!</h1>

        {% block content %}

        {% endblock %}

        {% block log %}

        {% endblock %}

    <p>-----------------------------------------------------------------------------------------------------------------</p>

    {% if request.user.is_authenticated %}
        <p>Zalogowany jako: {{ user }} <a href="{% url 'logout' %}"><button>Log Out</button></a></p>
    {% else %}
        <p>Niezalogowany <a href="{% url 'login' %}"><button>Log In</button></a></p>
    {% endif %}
    </body>
</html>