{% extends 'app_football/team.html' %}

{% block team %}

<div class="container">
    <h2 class="sub-header">This season is finished</h2>
    <p>You can <strong>PLAY AGAIN</strong> with the same teams,</p>
    <p>you can start new season with <strong>NEW TEAMS</strong>,</p>
    <p>or you can start from the beginning with <strong>ALL NEW TEAMS</strong> (incuding yours)</p>

</div>

<form id="finish-form" action="" method="POST">
    {% csrf_token %}
    <div id="finish-btns" style="font-size: 1.5em; text-align: center; margin-top: 5em;">
        <input class="btn button" type="submit" name="play-again" value="PLAY AGAIN">
        <input class="btn button" type="submit" name="new-teams" value="NEW TEAMS">
        <input style="padding-left: 25px; padding-right: 20px;" class="btn button" type="submit" name="all-new-teams" value="ALL NEW TEAMS">
    </div>
</form>

{% endblock %}