{% extends 'app_football/team.html' %}

{% block team %}

<div class="container">
    <h2 class="sub-header">This season is finished</h2>


</div>


<!--<form id="finish-form" action="" method="POST">-->
    <!--{% csrf_token %}-->
    <!--<div id="finish-btns">-->
        <!--<input class="btn button" type="submit" name="play" value="PLAY AGAIN">-->
        <!--<input class="btn button" type="submit" name="play" value="NEW TEAMS">-->
        <!--<input class="btn button" type="submit" name="play" value="LET'S PLAY">-->
        <!--<input class="btn button" type="submit" name="play" value="LET'S PLAY">-->
    <!--</div>-->
<!--</form>-->



{% endblock %}