{% extends 'app_football/index.html' %}

{% block content %}

{% load static %}

<div class="container main">
    <h1>Welcome</h1>
    <h2>To the footbal manager symulator!</h2>
    <br>
    <p>If you are already registered just <strong>LOG IN</strong> and keep playing, otherwise <strong>REGISTER!</strong></p>
    <br>
    <div class="main-buttons">
    <a href="{% url 'login' %}"><button class="btn button">Log In</button></a><a href="{% url 'register' %}"><button class="btn button">Register</button></a>
    </div>
</div>

{% endblock %}