{% extends 'app_football/index.html' %}


{% block content %}
<div class="container login">

    <h2 >Registration Form</h2>
    <div class="login-form">
        <div class="form-group">
            <form action='' method='POST'>
                {% csrf_token %}
                {{ form }}
                <button class="btn button fregister" type='submit'>Register</button>
            </form>
        </div>
        <p id="register-info">If you're already registered, please <strong>LOG IN!</strong></p>
        <div class="register">
            <a href="{% url 'login' %}"><button class="btn button fregister">Log In</button></a>
        </div>
    </div>
</div>

{% endblock %}