{% extends 'app_football/index.html' %}

{% block content %}
<div class="container register">
    <h2 >Registration Form</h2>
    <div style="position: absolute; top: 50%; margin-top: -100px;">
    <form action='' method='POST'>
        {% csrf_token %}
        {{ form }}
        <button class="btn" style="color: black;" type='submit'>Register</button>
    </form>
    </div>
</div>

     <div style="position: fixed; bottom: 10px; color: white;">
    {% if request.user.is_authenticated %}
        <p>Logged as: {{ user }} <a href="{% url 'logout' %}"><button class="btn">Log Out</button></a></p>
    {% else %}
        <p>Logged out <a href="{% url 'login' %}"><button class="btn">Log In</button></a></p>
    {% endif %}
     </div>
{% endblock %}