{% extends 'app_football/team.html' %}

{% block team %}

    <h3>Round {{ round_no }}</h3>

    <table>
        <tr><th>No</th><th>Home Team</th><th>Away Team</th><th>Home team goals</th><th>Away team goals</th></tr>
        {% for match in matches %}
            {% if match.home_team == user.team %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'team' %}">{{ match.home_team }}</a></td>
                    <td>{{ match.away_team }}</td>
                    {% if match.home_team_goals == None and match.away_team_goals == None %}
                        <td> - </td>
                        <td> - </td>
                    {% else %}
                        <td>{{ match.home_team_goals }}</td>
                        <td>{{ match.away_team_goals }}</td>
                    {% endif %}
                </tr>
            {% elif match.away_team == user.team %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ match.home_team }}</td>
                    <td><a href="{% url 'team' %}">{{ match.away_team }}</a></td>
                    {% if match.home_team_goals == None and match.away_team_goals == None %}
                        <td> - </td>
                        <td> - </td>
                    {% else %}
                        <td>{{ match.home_team_goals }}</td>
                        <td>{{ match.away_team_goals }}</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ match.home_team }}</td>
                    <td>{{ match.away_team }}</td>
                    {% if match.home_team_goals == None and match.away_team_goals == None %}
                        <td> - </td>
                        <td> - </td>
                    {% else %}
                        <td>{{ match.home_team_goals }}</td>
                        <td>{{ match.away_team_goals }}</td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}