{% extends 'app_football/team.html' %}

{% block team %}

    <div class="container">
        <h2 class="sub-header">LEAGUE TABLE</h2>
        <table class="table">
            <thead>
                <tr><th>Position</th><th>Team</th><th>Played</th><th>Wins</th><th>Draws</th><th>Loses</th><th>+/-</th><th>Points</th></tr>
            </thead>
            <tbody class="table-body">
                {% for team in teams %}
                    {% if team.user_id == user.id %}
                        <tr class="player-team">
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'team' %}">{{ team.name }}</a></td>
                            <td>{{ team.played }}</td>
                            <td>{{ team.wins }}</td>
                            <td>{{ team.draws }}</td>
                            <td>{{ team.loses }}</td>
                            <td>{{ team.goals_sum}}</td>
                            <td>{{ team.points }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ team.name }}</td>
                            <td>{{ team.played }}</td>
                            <td>{{ team.wins }}</td>
                            <td>{{ team.draws }}</td>
                            <td>{{ team.loses }}</td>
                            <td>{{ team.goals_sum}}</td>
                            <td>{{ team.points }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}