{% extends 'app_football/team.html' %}

{% block team %}


    <div class="container">
        <h2 class="sub-header">PLAYERS</h2>
        <table class="table">
            <thead>
                <tr><th></th><th>Name</th><th>Position</th><th>Attack</th><th>Defence</th></tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td><a href="{% url 'edit-player' pk=player.id %}"><button class="edit-link button">EDIT</button></a></td>
                    <td class="player-data">{{ player.full_name }}</td>
                    <td class="player-data">{{ player.get_position_display }}</td>
                    <td class="player-data">{{ player.attack }}</td>
                    <td class="player-data">{{ player.defence }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}