{% extends 'app_football/team.html' %}

{% block team %}
<div class="container">
    <h2 class="sub-header">Training Center</h2>
    <p>Personal training (energy cost 2) -  gives your player 2 points of attack or defence</p>
    <p>Team training (energy cost 4) - 3 random players gets randomly 2 points of attack or defence</p>
    <table class="table">
        <thead>
        <tr><th>Name</th><th>Position</th><th>Attack</th><th>Defence</th><th>Training</th></tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.full_name }}</td>
                <td>{{ player.get_position_display }}</td>
                <td>{{ player.attack }}</td>
                <td>{{ player.defence }}</td>
                <td><a href="{% url 'personal-training' player_pk=player.id %}"><button class="btn">TRAIN</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <br>
    <a style="margin-left: 1280px" href="{% url 'team-training' %}"><button class="btn">TEAM TRAINING</button></a>

{% endblock %}