body {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body {
    background: url('../../static/main_background.jpg') no-repeat center center fixed;
    background-size: cover;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/

}

h1 {
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 8em;
    text-align: center;
}

h2 {
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 5em;
    text-align: center;
}

h3 {
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 2.5em;
    text-align: center;
}

h4 {
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 2em;
    text-align: center;
}

p {
    color: white;
    font-family: 'Poppins';
    font-size: 1.5em;
    text-align: center;
}

.main {
    margin-top: 15%
}

.register {
    margin-top: 0;
}

.fregister {
    position: absolute;
    right: 23.8em;
}

#register-info {
    padding-top: 6.5em;
}

.login {
    margin-top: 11%;
}

.form-group {
    padding-left: 30%;
    padding-top: 30px;
    width: 40%;
}

.flogin {
    position: absolute;
    right: 23.8em;
}

form {
    font-family: 'Poppins';
    font-size: 1em;
}

label {
    font-family: 'Poppins';
    font-size: 1em;
    width: 50px;
    color: white;
    padding-left: 30px;
    display: inline-block;
    vertical-align: middle;
    clear: both;
}

.email-field {
    background-color: transparent;
    display: block;
    margin: 2em;
    width: 29em;
    height: 3em;
    border: 2px solid white;
    border-radius: 4px;
}

.email-field:focus {
    background-color: #BEDB39;
}

.login-field {
    background-color: transparent;
    display: block;
    margin: 2em;
    width: 29em;
    height: 3em;
    border: 2px solid white;
    border-radius: 4px;
}

.login-field:focus {
    background-color: #BEDB39;
}

.password-field {
    background-color: transparent;
    display: block;
    margin: 2em;
    width: 29em;
    height: 3em;
    border: 2px solid white;
    border-radius: 4px;
}

.password-field:focus {
    background-color: #BEDB39;
}

.teamname-field {
    background-color: transparent;
    display: block;
    margin: 2em;
    width: 29em;
    height: 3em;
    border: 2px solid white;
    border-radius: 4px;
}

.teamname-field:focus {
    background-color: #BEDB39;
}

.login-form {
    width: 100%;
    display: block;
    position: relative;
}

.register {
    text-align: center;
}

.button {
    font-family: 'Poppins';
    font-size: 1em;
    width: 10em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2.2em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #BEDB39; /* Green */
    color: white;
}

.main-buttons {
    text-align: center;
}

.login-info {
    width: 100%;
    height: 3em;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    color: white;
}

.credits {
    color: #BEDB39;
    font-family: 'Rancho', cursive;
    margin-bottom: 5px;
    margin-top: 5px;
    position: fixed;
    bottom: 0.1em;
    right: 1em;
}

#loader-sign {
    position: fixed;
    left: 46%;
    top: 40%;
    height: 150px;
    width: 150px;
}

#loader-info {
    padding-top: 17em;
}

.active>a {
    color: #BEDB39;
}

.info {
    color: #BEDB39;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    position: relative;
    display: block;
}


.nav>li>a {
    margin: 10px;
}

.navbar-brand {
    padding: 25px;
    color: #67FF2E;
    text-align: center;
    font-size: 1.5em;
}

#navbar {
    font-family: 'Poppins';
    font-size: 1em;
    background-color: #32302F;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
}

#info-list>p {
    font-size: 1em;
    text-align: left;
}

#info-list>h4 {
    text-align: left;
}

.nav>li>a:hover{background: none;}

.active>a:hover{color: white}

.navbar-brand:hover{color: white}

th, td {text-align: center; color: white}

#main-info {
    margin-top: 5%;
    width: 100%;
}

#info-list {
    padding-left: 35em;
}

.player-name {
    display: block;
}

td {color: white;
    font-family: 'Oswald';
    text-align: center;
}

.player-data {
    font-size: 1.5em;
}

.table {
    background-color: rgba(50,48,47,0.4);
    font-family: 'Poppins';
    font-size: 1em;
}

.table-body>tr>td {
    font-size: 1.3em;
}

.player-team {
    background-color: rgba(190,219,57,0.4);
}

.player-team>td>a {
    color: white;
}

.train-person {
    font-family: 'Poppins';
    font-size: 1em;
    padding: 0;
    width: 12em;
    height: 2.5em;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


.edit-link {
    font-family: 'Poppins';
    font-size: 1em;
    padding: 0;
    width: 8em;
    height: 2em;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.name-field {
    background-color: transparent;
    display: block;
    margin: 2em;
    width: 29em;
    height: 3em;
    border: 2px solid white;
    border-radius: 4px;
}

.name-field:focus {
    background-color: #BEDB39;
}

.surname-field {
    background-color: transparent;
    display: block;
    margin: 2em;
    width: 29em;
    height: 3em;
    border: 2px solid white;
    border-radius: 4px;
}

.surname-field:focus {
    background-color: #BEDB39;
}

#player-info {
    display: block;
    font-size: 1.5em;
    margin-top: 8em;
}

.played-btn {
    background-color: #BEDB39;
    border-color: #BEDB39;
    margin: 0.2em;
}

.played-btn:hover {
    background-color: #BEDB39;
    border-color: #BEDB39;
    color: rgb(50,48,47)
}

.next-btn {
    background-color: #32302F;
    border-color: #32302F;
    margin: 0.2em;
}

.next-btn:hover {
    background-color: #32302F;
    border-color: #32302F;
    color: #BEDB39;
}

.none-btn {
    background-color: rgba(50,48,47,0.4);
    border-color: rgba(50,48,47,0.4);
    margin: 0.2em;
}

.none-btn:hover {
    background-color: rgba(50,48,47,0.4);
    border-color: rgba(50,48,47,0.4);
    color: rgb(50,48,47)
}

.columns {
    margin-left: 12em;
    column-count: 3;
}

.training>p {
    font-size: 1em;
}

.team-train {
    width: 100%;
    margin: 0;
}

.train {
    font-family: 'Poppins';
    font-size: 1em;
    width: 10em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.train:hover {
    background-color: #BEDB39; /* Green */
    color: white;
}

.container>h3 {
    margin-top: 2em;
}

.training-table {
    font-family: 'Poppins';
    font-size: 1.5em;
    text-align: center;
    position: absolute;
    right: 35em;
}

.train-team {
    width: 50%;
    margin: 0;
    position: absolute;
    right: 33em;
}
